.App {
    font-family:
        system-ui,
        -apple-system,
        'Segoe UI',
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

main {
    padding: 20px;
}
body {
    font-family:
        system-ui,
        -apple-system,
        'Segoe UI',
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-weight: 500;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-evenly;
}
